<h1>Welcome, {{user.firstName}}</h1>
<br>

<a href="/user/{{user.id}}/recipe">Check out our recipes!</a>
<br>
<br>

<h3>Favorite Recipes</h3>
<ul>
{{#each user.recipes}}
	<li><a href='/user/{{../userId}}/recipe/{{this._id}}'>{{this.name}}</a></li>
{{/each}}
</ul>