
<div class="top-info">
  <div>
    <h1>Hello, {{userName}}, are you hungry?</h1>
  </div>
  <a href="/user/{{userId}}/recipe/new" id="CreateNewButton">
    <button type="button" name="button" class="btn-large teal darken-4" >Create New Recipe</button>
  </a>
  </div>
<br>
<br>

<div class="recipe-row">
	{{#each recipe}}
    <div class="row">
      <div class="col m4 s6">
        <div class="card">
          <div class="card-image">
            <a href="/user/{{../userId}}/recipe/{{this._id}}"><img src="{{this.picture}}"></a>
              <span class="card-title">{{this.name}}</span>
          </div>
          <!-- <div class="card-content">
						TEST
          </div> -->
          <div class="card-action">
            <a href="/user/{{../userId}}/recipe/{{this._id}}"><p class="flow-text">View more about {{this.name}}</p></a>
          </div>
        </div>
      </div>
  {{/each}}
</div>
