<h1>{{recipe.name}}</h1>
  
  <div class="center-align row">
    <div class = "indivRecipe col s6">
      <ul>
        <li>Directions: <a href='{{recipe.directions}}' target="_blank">Recipe Directions!</a></li>
        <li>Servings: {{recipe.servings}}</li>
        <li>Calories Per Serving: {{recipe.caloriesPerServing}}</li>
        <li>Total Time Needed: {{recipe.totalDuration}}</li>
        <li>Recipe Origin: {{recipe.origin}}</li>
        <li>Difficulty: {{recipe.difficulty}}</li>
        <li>Ingredients:
          <ul>
            {{#each recipe.ingredients}}
              <li>{{this.name}}</li>
            {{/each}}
          </ul></li>
      </ul>
    </div>
    <div class="showImage col s6">
      <img class="responsive-img" src="{{recipe.picture}}" alt="Recipe Image">
  </div>
  </div>
  

<form action="../recipe/{{recipe._id}}?_method=PUT" method="POST"><input class="btn-large teal darken-4" type="submit" value="Favorite this recipe">
</form>
