<h1>{{recipe.name}}</h1>

<ul>
  <li>Directions: {{recipe.directions}}</li>
  <li>Servings: {{recipe.servings}}</li>
  <li>Calories Per Serving: {{recipe.caloriesPerServing}}</li>
  <li>Total Time Needed: {{recipe.totalDuration}}</li>
  <li>Recipe Origin: {{recipe.origin}}</li>
  <li>Difficulty: {{recipe.difficulty}}</li>
  <li>IMAGE GOES HERE{{recipe.picture}}</li>
  <li>Ingredients that dont work: {{recipe.ingredients}}</li>
</ul>
