<h1>{{recipe.name}}</h1>

<div class="center-align">
  <div class = "indivRecipe">
  <ul>
    <li>Directions: {{recipe.directions}}</li>
    <li>Servings: {{recipe.servings}}</li>
    <li>Calories Per Serving: {{recipe.caloriesPerServing}}</li>
    <li>Total Time Needed: {{recipe.totalDuration}}</li>
    <li>Recipe Origin: {{recipe.origin}}</li>
    <li>Difficulty: {{recipe.difficulty}}</li>
    <li>Ingredients:
      <ul>
        {{#each recipe.ingredients}}
          <li>{{this.name}}</li>
        {{/each}}
      </ul></li>
  </ul>
  </div>
</div>

